# DB
DB_NAME=romm
DB_USER=romm_user
DB_PASSWD=superstrong_db_password
MARIADB_ROOT_PASSWORD=another_strong_root_pw

# App
TZ=America/Los_Angeles
ROMM_AUTH_SECRET_KEY= # paste output of: openssl rand -hex 32

# Metadata (optional but recommended)
IGDB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
IGDB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# SCREENSCRAPER_USER=your_user
# SCREENSCRAPER_PASSWORD=your_pass
# STEAMGRIDDB_API_KEY=your_key
